@{
    ViewBag.Title = "WannaTrade";
}
<div class="main">
    <div class="main1">
        <table class="table1">
            <tr VALIGN="top">
                <td>
                    <img alt="logo" class="icon-marks_a " src="~/Content/img/logo.png">
                </td>
                <td>
                    <h1>WannaTrade</h1>
                    <p class="ptext">Приветствуем вас на нашем сайте WannaTrade, посвященный торговле в компьютерной видеоигре Albion Online - песочнице, где ты - это то, что ты носишь.</p>
                    <p class="ptext">На данном сайте вы можете найти нужный вам товар у реальных игроков Albion Online, а также размесить объявление на продажу своиъ предметов.</p>
                    <p class="ptext">Чтобы начать пользоваться возможностями нашего сайта, нажмите на "Поиск" для просмотра объявлений о продаже. Чтобы разместить свое, нажмите на "Мои запросы" и кнопку "+".</p>
                </td>
            </tr>
            <tr VALIGN="top">
                <td>
                </td>
            </tr>
        </table>
        <h1 class="text_left" >История WannaTrade</h1>
        <p class="padd">Истоки сайта WannaTrade берут свое начало в 2019 году. Именно тогда в голову разработчика D3dD3d пришла идея, положившая первые ростки проекта WannaTrade</p><br>
        <p class="padd">Из-за отсутствия какого-либо опыта в web-разработке, проект был не мог быть реализован в то время. Но пока D3dD3d учился в университете, его познания расли и расли.</p><br>
        <p class="padd">И наконец на 4 курсе, уверенный, что ему достаточно знаний для разработки сайта, выбирает проект WannaTrade в качестве своего дипломного проекта, вспоследствии ставший для него окном в мир web-разработки</p><br>
    </div>
</div>